{% extends "message_app/header.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static './img/chat.png' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="https://kit.fontawesome.com/5d952f6b40.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="main-elements">
            <div class="image-container">
                <i style='font-size: 100px;'class="fa fa-user-circle"></i>
            </div>
            <form method="POST">
              {% csrf_token %}
              {{ login_form|crispy }}
                <button type = 'submit' class="mt31">
                    Login
                </button>
            </form>
            <div class="text mt18">
                Don’t have an account? <a href="/register">Register</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
